small_header()
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;

medium_header()
    font-size: 19px;
    font-weight: bold;
    white-space: nowrap;

fill()
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

clearfix()
    &:after
        content: "";
        display: table;
        clear: both;
